version: '3.1'
services:
  server:
    build: ./server
    ports:
      - "8383:8383"
    volumes:
      - ./server:/usr/src/app
      - ./client:/usr/src/app/client
      - /usr/src/app/node_modules
